<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    {{> header}}
    <h1>some other projects</h1>
    <ul>
        <li>Project number one</li>
        <li>Project number two</li>
        <li>Project number three</li>
    </ul>

    {{> footer}}
</body>

</html>